.project-window-body{
    height: calc(100vh - 220px);
    max-width: 40vw;
    min-width: 700px;
    img {
        image-rendering: auto;
        box-shadow: var(--shadow);
    }
}


@media only screen and (max-width: 768px) {
    .project-window-body{
        width: 88vw;
        min-width: unset;
        max-width: unset;
    }
}