@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --button-border-thickness: 3px;

    --close-background-color: rgb(241, 5, 5);
    --close-hover-background-color: rgb(241, 5, 5);
    --close-active-background-color: rgb(192, 7, 7);
}

button.systemButton{
    background: revert;
    outline: revert;
    border: var(--button-border-thickness) solid #878684;
    border-top: var(--button-border-thickness) solid white;
    border-left: var(--button-border-thickness) solid white;
    padding: 2px;
    &:hover {
        background: var(--button-pressed-background);
    }
    &:active {
        background: var(--button-pressed-background);
        border: var(--button-border-thickness) solid white;
        border-top: var(--button-border-thickness) solid #878684;
        border-left: var(--button-border-thickness) solid #878684;
        >*{
            transform: translate(1px,1px)
        }
    }
    &--close {
        color: white;
        background: var(--close-background-color);
        height: 1.5em;
        width: 1.5em;
        line-height: 0;
        text-align: center;
        &:hover {
            background: var(--close-hover-background-color);
        }
        &:active {
            background: var(--close-active-background-color);
        }
    }
}