@tailwind base;
@tailwind components;
@tailwind utilities;

button.systemButton{
    background: revert;
    outline: revert;
    border: 2px solid #878684;
    border-top: 2px solid white;
    border-left: 2px solid white;
    padding: 2px;
    &:hover {
        background: var(--button-pressed-background);
    }
    &:active {
        background: var(--button-pressed-background);
        border: 2px solid white;
        border-top: 2px solid #878684;
        border-left: 2px solid #878684;
        >*{
            transform: translate(1px,1px)
        }
    }
}