@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VT323";
  src: url("./fonts/VT323-Regular.ttf");
  font-weight: normal; 
  font-style: normal; 
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-color: #171c31;
  --body-padding: 25px;
  --navBar-height: 50px;
  --button-pressed-background: rgb(230, 230, 230);
  --shadow-color: #222;
  --shadow: 5px 5px 0px var(--shadow-color);

  --system-border-color: #959595;
  --system-border-color-other: rgb(206, 206, 206);
  --icon-shadow: drop-shadow(2px 2px 0px #222);
}

@media (prefers-color-scheme: dark) {
  :root {
    --nothing-for-now: none;
  }
}

body {
  font-family: "VT323", sans-serif;
  font-size: 22px;
  font-smooth: never;
  -webkit-font-smoothing : none;
  padding: var(--body-padding);
  color: rgb(var(--foreground-rgb));
  background: url("./../../public/img/background-dark.png") !important;
  image-rendering: pixelated !important;
  background-size: cover !important;
  background-position: center !important;
  background-color: var(--background-color);
  height: 100vh;

  a {
    text-decoration: underline;
  }

  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: ;
    line-height: 1.1em;
  }

  .crtOverlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    background-image: url(../../public/img/overlay2.png);
    background-repeat: all;
    background-position: 0px 0px;
    opacity: 0.3;
    animation-name: static;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(32);
  }
  .title{
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    transform: translateX(-10px);
    > * {
      line-height: 0.8em;
      text-shadow: 3px 3px black;
      text-align: right;
    }
    #name {
        font-size: 4em;
    }
    &--anim {
      transition: all 0.5s ease-in-out;
      opacity: 1;
      transform: translateX(0px);
    }
    &--ready {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .desktop {
    height: calc(100vh - var(--navBar-height) - var(--body-padding) - 20px);
    position: relative;
    z-index: 1;
    .apps {
      height: inherit;
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: flex-start;
    }
    
    > .systemWindow {
      &--page {
        position: absolute;
        top: 0;
        max-width: 960px;
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .credit {
      position: fixed;
      bottom: 55px;
      right: 5px;
      font-size: 1.1rem;
    }
  }

  @keyframes static {
    0% { background-position: 0px 0px; }
    100% { background-position: 0px 32px; }
  }

  img{
    image-rendering: pixelated;
  }
}


@media only screen and (max-width: 768px) {
  
  body {
    padding: 5px;
    background-attachment: fixed;
    
    .title{
      position: initial;
      margin-bottom: 30px;
      #name, #job {
        line-height: 0.8em;
        text-shadow: 3px 3px black;
        text-align: right;
      }
      #name {
          font-size: 2.5em;
      }
    }
    .desktop {
      min-height: calc(100dvh - 10px - 90px);
      flex-direction: row;
      .apps {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      > .systemWindow {
        &--page {
          height: unset;
          min-height: 94%;
        }
      }
      
      .credit {
        bottom: 5px;
      }
    }
  }
}