@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --window-thickness: 4px;

    --navBar-background-color: rgb(50, 50, 50);
    --navBar-background-accent: rgb(35, 35, 35);
    --navBar-foreground-color: rgb(210, 210, 210);
    --time-section-width: 60px;
    --before-square-size: 50px;
    --window-top-bar-color: rgb(59, 81, 179);
    --window-top-bar-buttons-section-color: #5c7aff;
}
  
  @media (prefers-color-scheme: dark) {
    :root {
        --navBar-background-color: rgb(205, 205, 205);
        --navBar-background-accent: rgb(150, 150, 150);
        --navBar-foreground-color: rgb(10, 10, 10);    
    }
  }

.systemWindow{
    border: var(--window-thickness) solid var(--system-border-color);
    border-top: var(--window-thickness) solid var(--system-border-color-top);
    border-left: var(--window-thickness) solid var(--system-border-color-left);;
    box-shadow: var(--shadow);
    &__topBar{
        padding: 0 0 0 10px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--window-top-bar-color);
        &-buttons{
            width: 10%;
            min-width: 50px;
            background: var(--system-border-color);
            text-align: right;
            border-radius: 15px 0 0 15px;
            padding-right: 3px;
            .systemButton{
                width: 1.2em;
                height: 1.2em;
            }
        }
    }
    &__body{
        color: black;
        background: rgb(236, 236, 236);
        padding: 10px;
        height: calc(100% - 1.5em);
        overflow: auto;
    }
}