@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --window-thickness-w: 2px;
    --window-thickness-h: 2px;
    --time-section-width: 60px;
    --before-square-size: 50px;
    --window-top-bar-color: rgb(59, 81, 179);
    --window-top-bar-buttons-section-color: #5c7aff;
}

.systemWindow {
    position: fixed;
    background: var(--system-background-color);
    border: var(--window-thickness-w) solid var(--system-border-color);
    border-width: var(--window-thickness-h) var(--window-thickness-w);
    border-top-color: var(--system-border-color-other);
    border-left-color: var(--system-border-color-other);
    box-shadow: var(--shadow);
    z-index: 1;

    &__topBar{
        padding: 0 0 0 10px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--window-top-bar-color);
        &-buttons{
            width: 10%;
            min-width: 50px;
            background: var(--system-border-color);
            text-align: right;
            border-radius: 15px 0 0 15px;
            padding-right: 3px;
            .systemButton{
                width: 1.2em;
                height: 1.2em;
            }
        }
    }
    &__body{
        width: 100%;
        height: calc(100% - 1.5em);
        padding: 10px;
        overflow: auto;
        color: black;
    }
}


@media only screen and (max-width: 768px) {
    .systemWindow{
        &__body{
            height: unset;
            min-height: unset;
        }
    }
}