@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navBar-background-color: rgb(50, 50, 50);
    --navBar-background-accent: rgb(35, 35, 35);
    --navBar-foreground-color: rgb(210, 210, 210);
    --time-section-width: 60px;
    --before-square-size: 50px;
}
  
  @media (prefers-color-scheme: dark) {
    :root {
        --navBar-background-color: rgb(205, 205, 205);
        --navBar-background-accent: rgb(150, 150, 150);
        --navBar-foreground-color: rgb(10, 10, 10);    
    }
  }

.navBar{
    position: absolute;
    bottom: 0;
    right: 0;

    &__wrapper{
        display: flex;
        position: relative;
        align-items: center;
        background: var(--navBar-background-color);
        height: var(--navBar-height);
    }
    &__navigation{
        width: calc(100vw - var(--before-square-size) - var(--time-section-width));
        padding-left: 10px;
        display: flex;
        align-items: center;
        &-links{
            display: flex;
            width: 100%;
            justify-content: center;
            a {
                padding: 5px;
                &:not(:first-child) {
                    margin-left: 20px;
                }
                &:hover {
                    background: var(--button-pressed-background);
                }
            }
        }
    }

    &__time{
        display:flex;
        color: var(--navBar-foreground-color);
        width: var(--time-section-width);
        font-size: 1.25em;
    }
    
    &::before{
        content: '';
        position: absolute;
        left: calc(var(--before-square-size)*-1);
        bottom: 0;
        border: var(--before-square-size) solid transparent;
        border-bottom-color: var(--navBar-background-accent);
    }
}