@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navBar-background-color: rgb(205, 205, 205);
    --navBar-background-accent: rgb(150, 150, 150);
    --navBar-foreground-color: rgb(10, 10, 10); 
    --navBar-mobile-width: 60px;
    --navBar-mobile-height: 90vh;
    --time-section-width: 60px;
    --time-section-height: 50px;
    --circle-width: 50px;
}

.navBar{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;

    &__wrapper{
        width: 99vw;
        display: flex;
        position: relative;
        align-items: center;
        border-radius: 30px 0 0 30px;
        background: var(--navBar-background-color);
        height: var(--navBar-height);
    }
    &__circle {
        padding: 2px;
        width: 30px;
        height: 30px;
        position: relative;
        left: 11px;
        border-radius: 100%;
        background: #ff0000;
        cursor: pointer;
    }
    &__navigation{
        width: calc(100vw - var(--time-section-width));
        padding-left: 20px;
        display: flex;
        &-links{
            display: flex;
            width: 100%;
            justify-content: center;
            a {
                max-height: calc(var(--navBar-height) - 10px);
                &:not(:first-child) {
                    margin-left: 20px;
                }
                &:hover {
                    background: var(--button-pressed-background);
                }
                img {
                    height: 100%;
                    width: unset;
                    filter: var(--icon-shadow);
                }
            }
        }
    }

    &__time{
        display:flex;
        color: var(--navBar-foreground-color);
        width: var(--time-section-width);
        font-size: 1.25em;
        justify-content: right;
        
        > * {
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .navBar{
        top: calc((var(--navBar-mobile-height) * -1) + 55px);
        left: 0;
        bottom: unset;
        right: unset;
        transition: all .5s ease-in-out;

        &--open{
            top: 0px;
        }

        &__wrapper{
            height: var(--navBar-mobile-height);
            width: var(--navBar-mobile-width);
            border-radius: 0 0 40px 40px;
            flex-direction: column-reverse;
            box-shadow: 2px 2px 10px #0000008a;
        }
        &__circle {
            width: 40px;
            height: 40px;
            left: 0;
            bottom: 10px;
        }
        &__navigation{
            width: 100%;
            height: calc(100vh - var(--time-section-height));
            padding: 0 0 25px 0;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            &-links{
                flex-direction: column;
                align-items: center;
                align-items: center;
                a {
                    margin-top: 20px;
                    &:not(:first-child) {
                        margin-left: 0;
                    }
                }
            }
        }
        &__time{
            justify-content: center;
        }
    }
  }