@tailwind base;
@tailwind components;
@tailwind utilities;

.web-projects {
    height: inherit;
    height: -webkit-fill-available;
    &__banner {
        margin-bottom: 10px;
        img {
            width: 100%;
        }
    }
    &__body {
        display: grid;
        grid-template-columns: 3fr 9fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    &__index {
        padding: 10px;
        background: var(--system-secondary-background-color);
        text-align: center;
        h2 {
            margin-bottom: 30px;
        }
        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            > button {
                display: flex;
                width: 80%;
                &:nth-child(odd) {
                    justify-content: right;
                }
                img {
                    width: 60%;
                }
            }
        }
    }
    &__project {
        &-banner {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
             > button {
                width: 49%;
             }
        }

        &-body {
            .professional {
                > div {
                    margin-bottom: 70px;
                    .company-header {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 5px;

                        &-logo {
                            height: 65px;
                            img {
                                height: 100%;
                                background: white;
                                padding: 2px;
                                box-shadow: var(--shadow);
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    
    .web-projects {
        &__body {
            display: grid;
            grid-template-columns: 1fr;
        }
        &__index {
            > div {
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;
                > button {
                    justify-content: center;
                    &:nth-child(odd) {
                        justify-content: center;
                    }
                }
            }
        }
        &__project {
            &-banner {
                 > button {
                    width: 100%;
                    margin-bottom: 5px;
                 }
            }
        }
    }
}